/* CategoriesStyle.css */
.category-link {
  text-decoration: none;
  color: inherit;
}

.card-container {
  /* Qualquer estilo adicional que você queira aplicar aos contêineres dos cartões */
}

.category-link .MuiCard-root {
  transition: transform 0.3s;
}

.category-link .MuiCard-root:hover {
  transform: translateY(-5px);
  box-shadow: none;
}
