/* SectionStyles.css */
.section-link {
  text-decoration: none;
  color: inherit;
}

.card-container {
  /* Qualquer estilo adicional que você queira aplicar aos contêineres dos cartões */
}

.section-link .MuiCard-root {
  transition: transform 0.3s;
}

.section-link .MuiCard-root:hover {
  transform: translateY(-5px);
  box-shadow: none; /* Remove a sombra */
}
