@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap');
body {
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #cccfca;
}
font-family: 'Work Sans', sans-serif;
  font-weight: 400;
code {
  font-family: 'Work Sans', sans-serif;
}
