/* LaunchStyles.css */
.launch-link {
  text-decoration: none;
  color: inherit;
}

.card-container {
  /* Qualquer estilo adicional que você queira aplicar aos contêineres dos cartões */
}

.launch-link .MuiCard-root {
  transition: transform 0.3s;
}

.launch-link .MuiCard-root:hover {
  transform: translateY(-5px);
  box-shadow: none;
}
